<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiphikhac</title>
    <%-include('../views/headercss') %>
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">
            <h1>BẢNG CHI TIẾT CHI PHÍ KHÁC</h1>
            <a href="/add-chiphikhac" class="btn btn-primary pull-right">Thêm chi phí khác</a>
            <table id="customers">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Nội dung</th>
                        <th>Số tiền</th>
                        <th>Ghi chú</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <% chiphikhacs.forEach((entry) => { %>
                    <tr ondblclick="handleUpdateProduct('<%= entry.id %>')">
                        <td>
                            <%= entry.stt %>
                        </td>
                        <td>
                            <%= entry.noidung %>
                        </td>
                        <td>
                            <%= entry.sotien %>
                        </td>
                        <td>
                            <%= entry.ghichu %>
                        </td>
                        <td width="15%">
                            <input class="btn btn-primary btn-sm" type="button" value="Update" onclick="handleUpdateProduct('')">
                            <input class="btn btn-primary btn-sm" type="button" value="Delete" onclick="handleUpdateProduct('')">
                        </td>
                    </tr>
                    <% }) %>
            </table>

            <script>
                function handleUpdateProduct(value) {
                    $(location).attr('href', '/update-product/' + value);
                }
            </script>
        </div>
</body>

</html>